body {
    background-color:rgb(9, 9, 188);
}
h1{
    color:ghostwhite;
    outline-style:groove ;
    outline-color: black;
    outline-width: 5px;
    text-align: center;
    
}
h2{
    color:rgba(250, 8, 8, 0.874);
    text-align: center;
}
h3{
    color:ghostwhite;
}
p{
    color:rgba(250, 8, 8, 0.874);
    font-weight: bold; 
    outline: 2px;
    outline-color: black;
    
}
img{
    width: 300px;
    
}
div{
    text-align: center;
}